@model HomeOwners_Exemption.Models.Claim

@{
    ViewData["Title"] = "Claim";
}
<div class="h-100 p-4">
    <h4 class="">Claim</h4>
    @if (ViewBag.ModelMessage)
    {
        <h4 class="" style="color:#ff0000;">Claim Does not Exist</h4>
    }
    
    <form asp-action="Claim">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="container-fluid Section-Claim">
            <div class="row claim-core test-padding border-title ">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="claimID" id="Claimant" >Claim#:</label>
                        <input asp-for="claimID" placeholder="Enter a Claim #"   />
                    </div>
                    <div class="form-group">
                        <label asp-for="CurrentApn" >AIN:</label>
                        <input asp-for="CurrentApn"   />

                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="ClaimStatusID">Claim Status:</label>
                        <select asp-for="ClaimStatusID" asp-items="ViewBag.dropdownInfo.Status">
                            @*<option>Select</option>*@
                        </select>

                        @*<input asp-for="ClaimStatusRef" class="" />*@
                    </div>
                    <div class="form-group">
                        <label asp-for="AssigneeID">Assignee:</label>
                       
                        <input asp-for="AssigneeID"/>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="CreatedDate" class="" style="text-align:right">Date:</label>
                        <input asp-for="CreatedDate" class="" readonly/>
                    </div>
                </div>
            </div>
            <div class="row row-divider" style="">
                <p><b>Personal Information</b></p>
            </div>
            <div class="row claim-core form-info border-title ">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Claimant" class="">Claimant:</label>
                        <input asp-for="Claimant" class="" />
                    </div>
                    <div class="form-group">
                        <label class="">Claimant SSN:</label>
                        <input placeholder="Not available yet" class="" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Spouse" class="">Spouse:</label>
                        <input asp-for="Spouse" class="" />
                    </div>
                    <div class="form-group">
                        <label class="">Spouse SSN:</label>
                        <input placeholder="Not available yet" class="" />
                    </div>
                </div>

            </div>
            <div class="row row-divider" style="">
                <p><b>Property Information</b></p>
            </div>
            <div class="row property-info border-title">

                <div class="col-4">
                    <div class="w-100 ">
                        <p><b>Situs Information</b></p>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label style="width:200px;" asp-for="CurrentStName" class="">Street Number and Name:</label>
                                <input asp-for="CurrentStName"  />
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label asp-for="CurrentApt" class=""> Apt/Ste/Flr#:</label>
                                <input style="" asp-for="CurrentApt"  />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label style="" asp-for="CurrentCity" class="">City:</label>
                                <input asp-for="CurrentCity"  />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="CurrentState" class="">State:</label>
                                <select asp-for="CurrentState" asp-items="ViewBag.dropdownInfo.states" >
                                    @*<option>Select</option>*@
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="CurrentZip">Zip:</label>
                                <input asp-for="CurrentZip"  />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group" >
                                <label asp-for="DateAcquired" class=""> Date Acquired:</label>
                                <input style="width:200px" asp-for="DateAcquired"  />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="DateOccupied" class=""> Date Occupied:</label>
                                <input style="width:200px" asp-for="DateOccupied"  />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="w-100 ">
                        <p><b>Mailing Address</b></p>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label style="width:200px;" asp-for="MailingStName" class="">Street Number and Name:</label>
                                <input asp-for="MailingStName" readonly />

                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label asp-for="MailingApt" class=""> Apt/Ste/Flr#:</label>
                                <input style="" asp-for="MailingApt" readonly />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label style="" asp-for="MailingCity" class="">City:</label>
                                <input asp-for="MailingCity" readonly />

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="MailingState" class=""> State:</label>
                                <select asp-for="MailingState" asp-items="ViewBag.dropdownInfo.states" readonly>
                                    @*<option>Select</option>*@
                                </select>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="MailingZip" class=""> Zip:</label>
                                <input style="" asp-for="MailingZip" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <div class="form-group">
                                <input id="chkPriorAddress" name="chkPriorAddress" type="checkbox" />
                                <label style="width: 800px">Check if mailing address is different from situs to enable input</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="w-100 " style="">
                        <p><b>Prior Address (if applicable)</b></p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label style="" asp-for="PriorApn" class="">Prior APN:</label>
                                <input asp-for="PriorApn" />

                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="DateMovedOut" class=""> Date Moved Out:</label>
                                <input style="" asp-for="DateMovedOut" />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label style="Width:200px;" asp-for="PriorStName" class="">Street Number and Name:</label>
                                <input asp-for="PriorStName" />

                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label asp-for="PriorApt" class=""> Apt/Ste/Flr#:</label>
                                <input style="" asp-for="PriorApt" />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label style="" asp-for="PriorCity" class="">City:</label>
                                <input asp-for="PriorCity" />

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="PriorState" class=""> State:</label>
                                <select asp-for="PriorState" asp-items="ViewBag.dropdownInfo.states" readonly>
                                    @*<option>Select</option>*@
                                </select>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="PriorZip" class=""> Zip:</label>
                                <input style="" asp-for="PriorZip" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="row row-divider" style="">
                        <p><b>Decision for Claim</b></p>
                    </div>
                </div>
                <div class="col-6" style="padding-left: 15px;">
                    <div class="row row-divider" style="">
                        <p>Exemption Information</p>
                    </div>
                </div>
            </div>
            <div class="row property-info border-title ">
                <div class="col-6">

                    <div class="row">
                        <div class="col-5">
                            <label style="" asp-for="ClaimActionID" class="">Claim Action:</label>
                            @*<input asp-for="ClaimActionID" />*@
                            <select asp-for="ClaimActionID" asp-items="ViewBag.dropdownInfo.Action">
                                @*<option>Select</option>*@
                            </select>
                        </div>
                        <div class="col-7">
                            <label style="" asp-for="FindingReasonID" class="">Finding Reason:</label>
                            @*<input asp-for="FindingReasonRef" />*@
                            <select asp-for="FindingReasonID" asp-items="ViewBag.dropdownInfo.Reason"></select>
                        </div>
                    </div>
                </div>
                <div class="col-6" style="padding-left: 15px; padding-right: 15px;">

                    <div class="row">
                        <div class="col-6">
                            <label style="" asp-for="RollTaxYear" class="">Roll Tax Year:</label>
                            <input asp-for="RollTaxYear" />
                        </div>
                        <div class="col-6">
                            <label style="" asp-for="ExemptRe" class="">ExemptRe:</label>
                            <input asp-for="ExemptRe" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label style="" asp-for="SuppTaxYear" class="">Supp Tax Year#:</label>
                            <input asp-for="SuppTaxYear" />
                        </div>
                        <div class="col-6">
                            <label style="" asp-for="ExemptRe2" class="">ExemptRe2:</label>
                            <input asp-for="ExemptRe2" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" style="text-align:right">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        <a asp-action="Claim" asp-controller="Home" asp-route-id="1">Clear</a>
        <p class="btn btn-dark history-button">Claim History</p>
    </form>
</div>
<div class="history-feature">
    <div class="container-fluid h-100">
        <div class="row history-box" style="">
            <div class="container-fluid">
                <div class="row  history-id" style="">

                    <div class="col-12">
                        <h4 style="margin-bottom: 40px;" class="text-center w-100">Claim History</h4>
                    </div>
                    <div class="col-3">
                        Claim #:
                    </div>
                    <div class="col-9">
                        <span>@Model.claimID</span>
                    </div>
                    <div class="col-3">
                        Claiment:
                    </div>
                    <div class="col-9">
                        <span>@Model.Claimant</span>
                    </div>
                    <div class="col-3">
                        AIN:
                    </div>
                    <div class="col-9">
                        <span>@Model.CurrentApn</span>
                    </div>
                    <div class="col-3">
                        SITUS:
                    </div>
                    <div class="col-9">
                        <span>@Model.CurrentStName , @Model.CurrentCity</span>
                    </div>

                </div>
                <div class="row shadow-inset-2">
                    <div class="col-custom">
                        <p>Status</p>
                    </div>
                    <div class="col-custom">
                        <p>Assignee</p>
                    </div>
                    <div class="col-custom">
                        <p>Date Changed</p>
                    </div>
                    <div class="col-custom">
                        <p>Days</p>
                    </div>
                    <div class="col-custom">
                        <p>Created By</p>
                    </div>
                </div>
                <div style="max-height: 400px; overflow-y: auto;">

                    @foreach (var item in ViewBag.history)
                    {
                        <div class="row shadow-inset-2" style="background-color: #fff">
                            <div class="col-custom">
                                <p class="text-center">@item.Status</p>
                            </div>
                            <div class="col-custom">
                                <p class="text-center">@item.Assignee</p>
                            </div>
                            <div class="col-custom">
                                <p class="text-center">@item.DateChanged.ToString("yyyy-MM-dd")</p>
                            </div>
                            <div class="col-custom">
                                <p class="text-center">@item.Days</p>
                            </div>
                            <div class="col-custom">
                                <p class="text-center">@item.CreatedBy</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
         <p class="btn btn-dark close-history">Close</p>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
