@model dynamic

@{
    ViewData["Title"] = "Home Page";
}

<div class="index-section container-fluid h-100 pt-3" style="padding-left:100px; padding-right: 100px">
    <h3>Dashboard</h3>
    <div class="row">
        <div class="col-6 pr-1">
            <div class="w-100 bg-1">
                <p class="dashboard-Table-Heading mb-0">Claim by Status</p>
            </div>
        </div>
        <div class="col-6 pl-1">
            <div class="bg-1" style="width: 98.7%;">
                <p class="dashboard-Table-Heading mb-0">Status by Staff</p>
            </div>
        </div>
    </div>
    <div class="row dashboard-1 ">
        <div class="col-6 border sub-dash  ">

            <div class="sub-table w-100 shadow-inset">
                <div class="row">
                    <div class="col-6">
                        <div class="w-100">
                            <p class="db-sub-heading">Claim Status</p>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="w-100">
                            <p class="db-sub-heading">Count</p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="w-100">
                            <p class="db-sub-heading">Timely</p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="w-100">
                            <p class="db-sub-heading">Late</p>
                        </div>
                    </div>
                </div>
                @foreach (var entry in Model.statusId)
                {
                    @if (entry.Key != "Preprint Sent")
                    {
                        <div class="row">
                            <div class="col-6">
                                <p style="padding-left: 10px;">@entry.Key</p>
                            </div>
                            <div class="col-2">
                                <p>@entry.Value.Count</p>
                            </div>
                            <div class="col-2">
                                <p>@entry.Value.Current</p>
                            </div>
                            <div class="col-2">
                                <p>@entry.Value.Late</p>
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
        <div class="col-6 border sub-dash2 scroll ">

            <div class="h-100 w-100 sub-table shadow-inset">
                <div class="row">
                    <div class="col-4">
                        <div class="w-100">
                            <p class="db-sub-heading">Staff</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="w-100">
                            <p class="db-sub-heading">Unworked</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="w-100">
                            <p class="db-sub-heading">Worked</p>
                        </div>
                    </div>

                </div>
                @for (int i = 0; i < Model.staff.Count; i++)
                {
                    <div class="row">
                        <div class="col-4">
                            <p class="p-space">@Model.staff[i].Users</p>
                        </div>
                        <div class="col-4">
                            <p class="p-space-center">@Model.staff[i].Unworked</p>
                        </div>
                        <div class="col-4">
                            <p class="p-space-center">@Model.staff[i].Worked</p>
                        </div>

                    </div>

                }

            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class=" bg-1" style="width: 99.3%">
                <p class="dashboard-Table-Heading mb-0">My Claims</p>
            </div>
        </div>

    </div>
    <div class="row dashboard-1 scroll shadow-inset" style="max-height: 390px">

        <div class="col-12 border sub-dash  " style="max-width: 100%; margin: 0;">

            <div class=" w-100 ">
                <div class="row">
                    <div class="col-custom">
                        <div class="w-100">
                            <p class="db-sub-heading">Claim#</p>
                        </div>
                    </div>

                    <div class="col-custom">
                        <div class="w-100">
                            <p class="db-sub-heading">AIN</p>
                        </div>
                    </div>
                    <div class="col-custom">
                        <div class="w-100">
                            <p class="db-sub-heading">Days</p>
                        </div>
                    </div>
                    <div class="col-custom">
                        <div class="w-100">
                            <p class="db-sub-heading">Last Updated</p>
                        </div>
                    </div>
                    <div class="col-custom">
                        <div class="w-100">
                            <p class="db-sub-heading">Status</p>
                        </div>
                    </div>
                </div>
                @for (int i = 0; i < Model.claims.Count; i++)
                {
                    <div class="row">
                        <div class="col-custom">
                            <p class="db-sub-heading">
                                <a asp-action="Claim" asp-controller="Home" asp-route-id="@Model.claims[i].ClaimId">@Model.claims[i].ClaimId</a>
                            </p>
                        </div>
                        <div class="col-custom">
                            <p class="p-space-center">@Model.claims[i].currentAPN</p>
                        </div>
                        <div class="col-custom">
                            <p class="p-space-center">@Model.claims[i].Days</p>
                        </div>
                        <div class="col-custom">
                            <p class="p-space-center">@Model.claims[i].ModifiedDate</p>
                        </div>
                        <div class="col-custom">
                            <p class="p-space">@Model.claims[i].ClaimStatusRef</p>
                        </div>

                    </div>

                }
            </div>
        </div>

    </div>
</div>