@{
    ViewData["Title"] = "Process Claim";
}
@*test*@
@model HomeOwners_Exemption.Models.ProcessClaim

<div class="text-center">
    <h1 class="display-4">Process Claim</h1>
</div>

@using (Html.BeginForm("ProcessClaim", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div><label><b>Scan your claim:</b></label></div>
    <div style="width:150px">
        @Html.TextBox("ClaimID", null, new { @type = "text", maxlength = "7", @id = "txtClaimID", @name = "txtClaimID", @class = "form-control input-text" })
    </div>
    <br />
    <br />
    <div>
        <table>
            <tr>
                <th style="width:300px;">Claim ID</th>
                <th style="width:300px;">Current Status</th>
                <th style="width:300px;">Change Status</th>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:150px", disabled = "true", @id = "txtClaimID1", @name = "txtClaimID1", @class = "form-control input-text" })</td>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:200px", disabled = "true", @id = "txtStatus1", @name = "txtStatus1", @class = "form-control input-text" })</td>
                <td rowspan="10" valign="top">
                    <div>
                        @Html.DropDownListFor(model => model.ClaimStatus,
                                        new SelectList(
                                        new List<Object>{
                                            new { value = 1, text = "Preprint" },
                                            new { value = 2, text = "Claim Received" },
                                            new { value = 3, text = "Supervisor Workload" },
                                            new { value = 4, text = "Staff Review" },
                                            new { value = 5, text = "Supervisor Review" },
                                            new { value = 6, text = "Case Closed" },
                                            new { value = 7, text = "Hold"}
                                            }, "value", "text", 0), "Select Status", new { @class = "form-control", @id = "ddClaimStatus" })
                    </div>
                    @section scripts{
                        <script>
                            $(document).on("keypress", "form", function (event) {
                                //alert("Hit Enter");
                                if (event.keyCode == 13) {
                                    if (document.getElementById("txtClaimID").value.trim() != "") {
                                        var x = 1;
                                        var basename = "txtClaimID"
                                        for (x = 1; x <= 10; x++) {
                                            name = basename + x;
                                            if (document.getElementById(name).value.trim() == "") {
                                                document.getElementById(name).value = document.getElementById("txtClaimID").value.trim();
                                                document.getElementById("txtClaimID").value = "";
                                                break;
                                            }
                                        }

                                    }
                                }
                                return event.keyCode != 13;
                            });

                            $(function () {
                                $("#txtClaimDate").datepicker({
                                    numberOfMonths: 2,
                                    onSelect: function (selected) {
                                        var dt = new Date(selected);
                                        dt.setDate(dt.getDate() + 1);
                                        $("#txtClaimDate").datepicker("option", "minDate", dt);
                                    }
                                });
                            });

                            $("body").on("change", "#ddClaimStatus", function () {
                                var selectedStatusText = $(this).find("option:selected").text();
                                var selectedStatusValue = $(this).val();
                                if (selectedStatusText == "Claim Received") {
                                    document.getElementById("divAssignTo").style.display = "none";
                                    document.getElementById("divClaimDate").style.display = "inline";
                                }
                                else if ((selectedStatusText == "Supervisor Workload") || (selectedStatusText == "Staff Review")) {
                                    document.getElementById("divAssignTo").style.display = "inline";
                                    document.getElementById("divClaimDate").style.display = "none";
                                }
                                else {
                                    document.getElementById("divAssignTo").style.display = "none";
                                    document.getElementById("divClaimDate").style.display = "none";
                                }
                            });
                        </script>
                    }
                    <div id="divAssignTo" style="display:none;">
                        <br />
                        <br />
                        <label><b>Assign To</b></label>
                        @Html.DropDownListFor(model => model.Assignee,
                                        new SelectList(
                                        new List<Object>{
                                            new { value = 650370, text = "Garg, Indu" },
                                            new { value = 651365, text = "Spencer, Daniel" }
                                            }, "value", "text", 0), "Select Assignee", new { @class = "form-control", @id = "ddAssignee" })
                    </div>
                    <div id="divClaimDate" style="display:none;">
                        <br />
                        <br />
                        <label><b>Claim Date</b></label>
                        @Html.TextBoxFor(model => model.ClaimDate, new { @type = "search", maxlength = "10", @id = "txtClaimDate", @name = "txtClaimDate", @class = "form-control input-text" })
                    </div>
                    <div>
                        <br />
                        <br />
                        <input type="submit" class="btn btn-primary bg-3" id="SubmitCancel" value="Cancel" asp-controller="Home" asp-action="ProdessClaim" />
                        &nbsp;&nbsp;&nbsp;
                        <input type="submit" class="btn btn-primary bg-3" id="SubmitProcess" value="Process" asp-controller="Home" asp-action="ProdessClaim" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:150px", disabled = "true", @id = "txtClaimID2", @name = "txtClaimID2", @class = "form-control input-text" })</td>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:200px", disabled = "true", @id = "txtStatus2", @name = "txtStatus2", @class = "form-control input-text" })</td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:150px", disabled = "true", @id = "txtClaimID3", @name = "txtClaimID3", @class = "form-control input-text" })</td>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:200px", disabled = "true", @id = "txtStatus3", @name = "txtStatus3", @class = "form-control input-text" })</td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:150px", disabled = "true", @id = "txtClaimID4", @name = "txtClaimID4", @class = "form-control input-text" })</td>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:200px", disabled = "true", @id = "txtStatus4", @name = "txtStatus4", @class = "form-control input-text" })</td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:150px", disabled = "true", @id = "txtClaimID5", @name = "txtClaimID5", @class = "form-control input-text" })</td>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:200px", disabled = "true", @id = "txtStatus5", @name = "txtStatus5", @class = "form-control input-text" })</td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:150px", disabled = "true", @id = "txtClaimID6", @name = "txtClaimID6", @class = "form-control input-text" })</td>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:200px", disabled = "true", @id = "txtStatus6", @name = "txtStatus6", @class = "form-control input-text" })</td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:150px", disabled = "true", @id = "txtClaimID7", @name = "txtClaimID7", @class = "form-control input-text" })</td>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:200px", disabled = "true", @id = "txtStatus7", @name = "txtStatus7", @class = "form-control input-text" })</td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:150px", disabled = "true", @id = "txtClaimID8", @name = "txtClaimID8", @class = "form-control input-text" })</td>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:200px", disabled = "true", @id = "txtStatus8", @name = "txtStatus8", @class = "form-control input-text" })</td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:150px", disabled = "true", @id = "txtClaimID9", @name = "txtClaimID9", @class = "form-control input-text" })</td>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:200px", disabled = "true", @id = "txtStatus9", @name = "txtStatus9", @class = "form-control input-text" })</td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:150px", disabled = "true", @id = "txtClaimID10", @name = "txtClaimID10", @class = "form-control input-text" })</td>
                <td>@Html.TextBoxFor(model => model.ClaimID, new { @type = "text", style = "width:200px", disabled = "true", @id = "txtStatus10", @name = "txtStatus10", @class = "form-control input-text" })</td>
            </tr>
        </table>
    </div>
}


