@{
    ViewData["Title"] = "Process Claim";
}
@model HomeOwners_Exemption.Models.ProcessClaim

<script src="~/lib/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="~/lib/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<link href="~/lib/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/js/site.js" type="text/javascript"></script>
<script type="text/javascript">

    /////////////////////////////////////////////////////////////////////
    // For Claim Received Status
    /////////////////////////////////////////////////////////////////////
    function Add_ClaimReceived() {
        AddRow_ClaimReceived($("#txtClaimID").val(), $("#txtAIN").val());
        $("#txtClaimID").val("");
        $("#txtAIN").val("");
    };

    function AddRow_ClaimReceived(claimid, ain) {
        //Get the reference of the Table's TBODY element.
        var tBody = $("#tblClaims > TBODY")[0];

        //Add Row.
        row = tBody.insertRow(-1);

        //Add ClaimID cell.
        var cell = $(row.insertCell(-1));
        cell.html(claimid);

        cell = $(row.insertCell(-1));
        var imgCheck = $("<img />");
        imgCheck.attr("src", "/img/check-circle-solid.svg");
        imgCheck.attr("style", "height:30px;width:30px;");
        cell.append(imgCheck);

        //Add AIN cell.
        cell = $(row.insertCell(-1));
        cell.html(ain);

        cell = $(row.insertCell(-1));
        var imgCheck = $("<img />");
        imgCheck.attr("src", "/img/check-circle-solid.svg");
        imgCheck.attr("style", "height:30px;width:30px;");
        cell.append(imgCheck);

        //Add Process cell.
        cell = $(row.insertCell(-1));
        var lblProcessed = $("<label style=\"height:30px;width:30px;color:green;\">Processed</label>");
        cell.append(lblProcessed);
    };

    // Send the data to the controller when click the "Search" button
    function ValidateInfo()
    {
        // Get the value from the input text box
        var claimID = "";
        claimID = document.getElementById("txtClaimID").value;
        var AIN = "";
        AIN = document.getElementById("txtAIN").value;

        // Get the claim status
        var e = document.getElementById("ddClaimStatus");
        var status = e.options[e.selectedIndex].value;

        // Get the claim received date
        var receivedDate = document.getElementById("txtClaimReceivedDate").value.trim();
        var today = new Date();

        if (claimID == "")
            alert("Claim# cannot be empty.");
        else if (claimID.length < 7)
            alert("Claim# must be 7 digits.");
        else if (AIN == "")
            alert("AIN cannot be empty.");
        else if (AIN.length < 10)
            alert("AIN must be 10 digits.")
        else if (receivedDate == "")
            alert("Claim Received Date cannot be empty.");
        else if (isDate(receivedDate) == false)
            alert("Invalid date format.");
        else {
            var newReceivedDate = new Date(receivedDate); //change format
            if (newReceivedDate <= today) {
                $.ajax({
                    url: '@Url.Action("ValidateInfo", "Home")',
                    type: "POST",
                    data: { ClaimID: claimID, AIN: AIN, ClaimStatus: status, ClaimReceivedDate: receivedDate },
                    traditional: true,
                    success: function (returnData) {
                        if (returnData == "0") {
                            alert("Fail to validate!");
                        }
                        else {
                            //alert("Validated!");
                            confirmBox(returnData);
                        }

                        function confirmBox(displayData) {
                            if ((displayData.indexOf("ERROR") != -1) || (displayData.indexOf("ALERT") != -1)) {
                                var claimError = "";
                                var ainError = "";
                                var start;
                                var end;
                                data = displayData.toString();
                                if (displayData.indexOf("ERROR") != -1) {
                                    document.getElementById("exclamationClaimID").style.display = "inline";
                                    document.getElementById("checkClaimID").style.display = "none";
                                    start = displayData.indexOf("ERROR");
                                    end = displayData.indexOf("|");
                                    //alert(displayData.substring(start, end));
                                    claimError = displayData.substring(start, end) + '\n';
                                }
                                else {
                                    document.getElementById("exclamationClaimID").style.display = "none";
                                    document.getElementById("checkClaimID").style.display = "inline";
                                }

                                if (displayData.indexOf("ALERT") != -1) {
                                    document.getElementById("exclamationAIN").style.display = "inline";
                                    document.getElementById("checkAIN").style.display = "none";
                                    start = displayData.indexOf("ALERT");
                                    //alert(displayData.substring(start));
                                    ainError = displayData.substring(start);
                                }
                                else {
                                    document.getElementById("exclamationAIN").style.display = "none";
                                    document.getElementById("checkAIN").style.display = "inline";
                                }
                                document.getElementById("txtClaimID").focus();

                                alert(claimError + ainError);
                            }
                            else {
                                var ain = "";
                                var owner = "";
                                var address = "";
                                var rest = "";
                                var result = "";
                                            
                                ain = displayData.substring(1, displayData.indexOf("$") - displayData.indexOf("|"));
                                rest = displayData.substring(displayData.indexOf("$"));
                                owner = rest.substring(1, rest.indexOf("!"));
                                address = rest.substring(rest.indexOf("!") + 1);

                                result = "AIN: " + ain + "\nOwner: " + owner + "\nAddress: " + address + "\n\nDo you want to process this claim?";

                                if (confirm(result)) {
                                    //Click OK
                                    $.ajax({
                                        url: '@Url.Action("ProcessInfo", "Home")',
                                        type: "POST",
                                        data: { ClaimID: claimID, AIN: AIN, ClaimStatus: status, ClaimReceivedDate: receivedDate },
                                        traditional: true,
                                        success: function (data) {
                                            if (data == "0")
                                                alert("Fail to process!");
                                            else {
                                                alert("Processed!");

                                                Add_ClaimReceived();
                                                document.getElementById("exclamationClaimID").style.display = "inline";
                                                document.getElementById("exclamationAIN").style.display = "inline";
                                                document.getElementById("checkClaimID").style.display = "none";
                                                document.getElementById("checkAIN").style.display = "none";
                                                document.getElementById("txtClaimID").value = "";
                                                document.getElementById("txtAIN").value = "";
                                                document.getElementById("txtClaimID").focus();
                                            }
                                        },
                                        error: function () {
                                            alert("Fail to process!");
                                        }
                                    });

                                   
                                }
                                else {
                                    //Click CANCEL
                                    document.getElementById("exclamationClaimID").style.display = "none";
                                    document.getElementById("exclamationAIN").style.display = "none";
                                    document.getElementById("checkClaimID").style.display = "inline";
                                    document.getElementById("checkAIN").style.display = "inline";
                                    document.getElementById("txtClaimID").focus();
                                }
                            }
                        }
                    },
                    error: function () {
                        alert("Fail to validate!");
                    }
                }); 
            }
            else
                alert("Claim Received Date cannot be in future.");    
        }
    }

    function ClearInfo() {
        var table = document.getElementById("tblClaims");
        if (table.rows.length > 2) {
            for (var i = table.rows.length - 2; i > 0; i--) {
                table.deleteRow(i);
            }
        }
        document.getElementById("txtClaimID").value = ""
        document.getElementById("txtAIN").value = ""
        document.getElementById("exclamationClaimID").style.display = "inline";
        document.getElementById("exclamationAIN").style.display = "inline";
        document.getElementById("checkClaimID").style.display = "none";
        document.getElementById("checkAIN").style.display = "none";
        document.getElementById("txtClaimID").focus();
    }
    /////////////////////////////////////////////////////////////////////

    /////////////////////////////////////////////////////////////////////
    // For Other Status
    /////////////////////////////////////////////////////////////////////
    function Add() {
        if ($("#txtClaimID_1").val() == "")
            alert("Claim# cannot be empty.");
        else if ($("#txtClaimID_1").val().length < 7)
            alert("Claim# must be 7 digits.");
        else
        { 
            AddRow($("#txtClaimID_1").val());
            $("#txtClaimID_1").val("");
        }
    };

    function AddRow(claimid) {
        var tBody = $("#tblClaims_1 > TBODY")[0];

        //Add Row.
        row = tBody.insertRow(-1);

        //Add ClaimID cell.
        var cell = $(row.insertCell(-1));
        cell.html(claimid);

        //Add Button cell.
        cell = $(row.insertCell(-1));
        var btnRemove = $("<img />");
        btnRemove.attr("src", "/img/minus-circle-solid.svg");
        btnRemove.attr("style", "height:30px;width:30px;");
        btnRemove.attr("onclick", "Remove(this);");
        btnRemove.val("Remove");
        cell.append(btnRemove);
    };

    function Remove(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).html();
        if (confirm("Do you want to delete Claim #: " + name)) {
            //Get the reference of the Table.
            var table = $("#tblClaims_1")[0];

            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
    };

     // Send the data to the controller when click the "Process" button
    $(document).ready(function () {
        $('#SubmitProcess').on('click', function () {
            var claimIDs = [];

            //Get the values from the cells
            var tbl = document.getElementById("tblClaims_1");         
            var tblRows = tbl.getElementsByTagName("tr");
            if (tblRows.length > 3) {
                for (var i = 1; i<tblRows.length-2; i++) {
                    claimIDs.push(tbl.rows[i].cells[0].innerHTML);
                }
            }

            // Get the value from the input text box
            claimIDs.push(document.getElementById("txtClaimID_1").value);

            // Get the claim status
            var e = document.getElementById("ddClaimStatus");
            var status = e.options[e.selectedIndex].value;

            // Get the supervisor assignee
            e = document.getElementById("ddSupervisors");
            var supervisorAssignee = e.options[e.selectedIndex].value;

            // Get the staff assignee
            e = document.getElementById("ddStaffs");
            var staffAssignee = e.options[e.selectedIndex].value;

            if (supervisorAssignee == "0")
                alert("Supervisor cannot be empty.");
            else {
                $.ajax({
                    url: '@Url.Action("ProcessOtherStatus", "Home")',
                    type: "POST",
                    data: { ClaimIDList: claimIDs, ClaimStatus: status, AssigneeSupervisor: supervisorAssignee, AssigneeStaff: staffAssignee },
                    traditional: true,
                    success: function (data) {
                        if (data == "0")
                            alert("Fail to process!");
                        else {
                            alert("Processed!");
                            window.location = '../Home/ProcessClaim';
                        }
                    },
                    error: function () {
                        alert("Fail to process!");
                    }
                });
            }
        });
    });

    $(document).ready(function () {
        $('#txtClaimID_1').on('keypress', function () {
            if (event.keyCode == 13) {
                if ($("#txtClaimID_1").val() == "")
                    alert("Claim# cannot be empty.");
                else if ($("#txtClaimID_1").val().length < 7)
                    alert("Claim# must be 7 digits.");
                else
                    Add();
            }
        });
    });
    /////////////////////////////////////////////////////////////////////

    // Enter number only
    function numberOnly(id) {
        // Get element by id which passed as parameter within HTML element event
        var element = document.getElementById(id);
        // Use numbers only pattern, from 0 to 9
        var regex = /[^0-9]/gi;
        // This removes any other character but numbers as entered by user
        element.value = element.value.replace(regex, "");
    }

    // Hit "Enter" to insert the data
    //$(document).on("keypress", "form", function (event) {
    //    if (event.keyCode == 13) {
    //        return event.keyCode != 13;
    //    }
    //});

    function todayDate() {
        var today = new Date();
        var mm = today.getMonth() + 1; //January is 0!
        var dd = today.getDate();
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = mm + '/' + dd + '/' + yyyy;

        return today;
    }

    // Populate the dropdown
    $(document).ready(function () {
        $("#ddClaimStatus").change(function () {
            var statusText = $("#ddClaimStatus option:selected").text();

            //Tables
            if (statusText == "Select Status") {
                document.getElementById("dvClaimReceived").style.visibility = "hidden";
                document.getElementById("dvNotClaimReceived").style.visibility = "hidden";
            }
            else if (statusText == "Claim Received") {
                document.getElementById("dvClaimReceived").style.visibility = "visible";
                document.getElementById("dvNotClaimReceived").style.visibility = "hidden";
            }
            else {
                document.getElementById("dvClaimReceived").style.visibility = "hidden";
                document.getElementById("dvNotClaimReceived").style.visibility = "visible";
            }

            if (statusText == "Select Status") {
                document.getElementById("lblClaimReceivedDate").style.display = "none";
                document.getElementById("txtClaimReceivedDate").style.display = "none";
                document.getElementById("txtClaimReceivedDate").value = "";
                document.getElementById("lblAssignTo").style.display = "none";
                document.getElementById("ddSupervisors").style.display = "none";
                document.getElementById("ddSupervisors").selectedIndex = "0";
                document.getElementById("lblAssignToStaff").style.display = "none";
                document.getElementById("ddStaffs").style.display = "none";
                document.getElementById("ddStaffs").selectedIndex = "0";
            }

            //Claim Received input box
            if (statusText == "Claim Received") {
                document.getElementById("lblClaimReceivedDate").style.display = "inline";
                document.getElementById("txtClaimReceivedDate").style.display = "inline";     
                document.getElementById("txtClaimReceivedDate").value = todayDate();
            }
            else {
                document.getElementById("lblClaimReceivedDate").style.display = "none";
                document.getElementById("txtClaimReceivedDate").style.display = "none";
                document.getElementById("txtClaimReceivedDate").value = "";
            }

            //Supervisor Workload dropdown
            if (statusText == "Supervisor Workload") {
                document.getElementById("lblAssignTo").style.display = "inline";
                document.getElementById("ddSupervisors").style.display = "inline";
                document.getElementById("ddSupervisors").selectedIndex = "0";
            }
            else {
                document.getElementById("lblAssignTo").style.display = "none";
                document.getElementById("ddSupervisors").style.display = "none";
                document.getElementById("ddSupervisors").selectedIndex = "0";
            }

            //Staff Review dropdown
            if (statusText == "Staff Review") {
                document.getElementById("lblAssignToStaff").style.display = "inline";
                document.getElementById("ddStaffs").style.display = "inline";
                document.getElementById("ddStaffs").selectedIndex = "0";
            }
            else {
                document.getElementById("lblAssignToStaff").style.display = "none";
                document.getElementById("ddStaffs").style.display = "none";
                document.getElementById("ddStaffs").selectedIndex = "0";
            }

            document.getElementById("txtClaimID").value = "";
            document.getElementById("txtAIN").value = "";
            document.getElementById("txtClaimID_1").value = "";
        });
    });

</script>
<div class="text-left">
    <label><b>Process Claim</b></label>
</div>
<br />
<table>
    <tr>
        <td width="350px">
            <label style="font-weight:bold;">
                Claim Status:
                @Html.DropDownListFor(model => model.ClaimStatus, Model.StatusList, new { style = "width:250px;", @id = "ddClaimStatus", @class = "form-control", @label = "Claim Status:", autofocus = "autofocus" })
            </label>
        </td>
        <td width="400px">
            <label id="lblAssignTo" style="font-weight:bold;display:none;">
                Assign To:
                @Html.DropDownListFor(model => model.Supervisor, Model.Supervisors, new { style = "width:250px;display:none;", @id = "ddSupervisors", @class = "form-control dropdown-text" })
            </label>

            <label id="lblAssignToStaff" style="font-weight:bold;display:none;">
                Assign To:
                @Html.DropDownListFor(model => model.Staff, Model.Staffs, new { style = "width:250px;display:none;", @id = "ddStaffs", @class = "form-control dropdown-text" })
            </label>

            <label id="lblClaimReceivedDate" style="font-weight:bold;display:none;">
                Claim Received Date: <font color="#CC0000"><b>(mm/dd/yyyy)</b></font>
                @Html.TextBoxFor(model => model.ClaimReceivedDate, new { style = "width:250px;", @id = "txtClaimReceivedDate", @name = "txtClaimReceivedDate", maxlength = 10, @class = "form-control input-text" })
            </label>
        </td>
    </tr>
</table>
<br />
<br />
<div text-align="center" id="dvClaimReceived" style="visibility:hidden;">
    <table id="tblClaims" cellpadding="0" cellspacing="0" border="1">
        <thead>
            <tr>
                <th width="100px">Claim #</th>
                <th width="30px">&nbsp;</th>
                <th width="100px">AIN</th>
                <th width="30px">&nbsp;</th>
                <th width="150px"><input type="submit" class="btn btn-primary bg-3" id="SubmitClear" value="Clear" onclick="ClearInfo();" /></th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td><input type="text" id="txtClaimID" name="txtClaimID" maxlength="7" oninput="numberOnly(this.id)" /></td>
                <td>
                    <img src="~/img/exclamation-circle-solid.svg" id="exclamationClaimID" style="height:30px;width:30px;display:inline;" />
                    <img src="~/img/check-circle-solid.svg" id="checkClaimID" style="height:30px;width:30px;display:none;" />
                </td>
                <td><input type="text" id="txtAIN" name="txtAIN" maxlength="10" oninput="numberOnly(this.id)" /></td>
                <td>
                    <img src="~/img/exclamation-circle-solid.svg" id="exclamationAIN" style="height:30px;width:30px;display:inline;" />
                    <img src="~/img/check-circle-solid.svg" id="checkAIN" style="height:30px;width:30px;display:none;" />
                </td>
                <td>
                    <img src="~/img/search.jpg" onclick="ValidateInfo()" style="height:30px;width:30px;" title="Search" />
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div text-align="center" id="dvNotClaimReceived" style="visibility:hidden;">
    <table id="tblClaims_1" cellpadding="0" cellspacing="0" border="1">
        <thead>
            <tr>
                <th width="100px">Claim #</th>
                <!--<th width="30px">&nbsp;</th>-->
                <th width="150px"></th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td><input type="text" id="txtClaimID_1" name="txtClaimID_1" maxlength="7" oninput="numberOnly(this.id)" /></td>
                <!--<td>
                    <img src="~/img/exclamation-circle-solid.svg" id="exclamationClaimID_1" style="height:30px;width:30px;display:inline;" />
                    <img src="~/img/check-circle-solid.svg" id="checkClaimID_1" style="height:30px;width:30px;display:none;" />
                </td>-->
                <td><img src="~/img/plus-circle-solid.svg" onclick="Add()" style="height:30px;width:30px;" /></td>
            </tr>
            <tr>
                <td colspan="6" align="right">
                    <input type="submit" class="btn btn-primary bg-3" id="SubmitProcess" value="Process" />
                    &nbsp;&nbsp;&nbsp;
                    <input type="submit" class="btn btn-primary bg-3" id="SubmitCancel" value="Cancel" onclick="javascript:window.location='../Home/ProcessClaim';" />
                </td>
            </tr>
        </tfoot>
    </table>
</div>



